{% extends 'html/base.html' %}
{% block title %}Add Trains{% endblock %}
{% block content %}
<div class="container mt-4" >
    <div class="jumbotron" style="background:skyblue !important">
        <div class="card col-md-5 mx-auto shadow-lg">
            <div class="card-body">
                <h4>Add Trains Page</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ a.as_p }}
                    <div class="row my-2">
                        <div class="col">
                            <input type="submit" value="Save" class="btn btn-outline-success form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
