{% extends 'html/base.html' %}
{% block title%}Mail Sending{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-5 mx-auto shadow-lg">

		{% if messages %}
			{% for i in messages %}
				<div class="alert alert-{{i.tags}} alert-dismissible my-2">
  					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  					{{i}}
				</div>
			{% endfor %}
		{% endif %}
		<div class="card-body">
			<h4>Mail Sending</h4>
			<form method="post">
				{% csrf_token %}
				<input type="email" name="sn" placeholder="Enter Mail Id" class="form-control my-2">
				<input type="text" name="sb" placeholder="Enter Subject" class="form-control my-2">
				<textarea class="form-control my-2" rows="3" name="msg" placeholder="Enter Message" ></textarea>
				<label for="myfile">Select a file:</label>
      			<input type="file" id="myfile" name="myfile">
				<input type="submit" value="Send Mail" class="form-control btn btn-outline-success">
			</form>
		</div>
	</div>
</div>
{% endblock %}